<section class="card">
  <a href="/book/{{id}}">
    <header>{{Book.book_name}}</header>
    <div class="card-body">
      <h3>By: {{Book.user_name}} </h3>
      <p>Description: {{Book.book_idea}} </p>
      <p>Idea Submitted: {{ format_date Book.submit_date }} </p>
    </div>
  </a>
</section>
