<section class="card">
  <a href="/website/{{id}}">
    <header>{{Website.website_name}}</header>
    <div class="card-body">
      <h3>By: {{Website.user_name}} </h3>
      <p>Description: {{Website.website_idea}} </p>
      <p>Idea Submitted: {{ format_date Website.submit_date }} </p>
    </div>
  </a>
</section>