<section class="book">
  <img src="/images/{{book.filename}}" alt="{{book.book_idea}}">
  <div class="website-details">
    <h3>{{book.book_name}}</h3>
    <p>By: {{book.user_name}}</p>
    <p>Description: {{book.book_idea}}</p>
    <p>Idea submitted: {{ format_date book.submit_date}}</p>
  </div>
</section>
