<section class="show">
  <img src="/images/{{show.filename}}" alt="{{show.description}}">
  <div class="show-details">
    <h3>{{show.show_name}}</h3>
    <p>By: {{show.user_name}}</p>
    <p>Description: {{show.show_idea}}</p>
    <p>Idea submitted: {{ format_date show.submit_date}}</p>
  </div>
</section>

