<section class="show">
  <img src="/images/{{Show.filename}}" alt="{{Show.description}}">
  <div class="website-details">
    <h3>{{Show.show_name}}</h3>
    <p>By: {{Show.user_name}}</p>
    <p>Description: {{Show.show_idea}}</p>
    <p>Idea submitted: {{ format_date Show.submit_date}}</p>
  </div>
</section>

