<section class="website">
  <img src="/images/{{website.filename}}" alt="{{website.description}}">
  <div class="website-details">
    <h3>{{website.website_name}}</h3>
    <p>By: {{website.user_name}}</p>
    <p>Description: {{website.website_idea}}</p>
    <p>Idea submitted: {{ format_date website.submit_date}}</p>
  </div>
</section>
